body {
    background-color: rgb(172, 164, 156);
}

.stilig {
    color: khaki;
    background-color: rgb(122, 85, 67);
}

.funky {
    color: rgb(185, 204, 174);
    background-color: rgb(65, 50, 75);
}

.glor {
    color: rgb(168, 76, 111);
    background-color: rgb(61, 28, 42);
}

.ild {
    color: rgb(255, 126, 6);
    background-color: rgb(95, 32, 32);
}

.harrytass {
    color: rgb(0, 0, 0);
    background-color: rgb(0, 255, 128);
}
