body {
    background-color: rgb(122, 2, 112);
}

.style1 {
    
    background-color: rgb(165, 14, 59);
}

.style2 {

    border: solid;
    border-color: rgb(250, 91, 125);
}

.style3 {

    padding: 20px;
}

.style4 {
    color: rgb(255, 139, 164);
}


div.selected::before {
    content: "🡆";
}

div.selected::after {
    content: "🡄";
}