body {
    background-color: rgb(172, 164, 156);
}

.stilig {
    color: khaki;
    background-color: rgb(122, 85, 67);
}

.berry {

    color: rgb(158, 0, 47);
    background-color: rgb(250, 91, 125);
}

div.selected::before {
    content: "🡆";
}

div.selected::after {
    content: "🡄";
}